body {
    background-color: #e8e3e3;
}

header {
    font-size: 22px;
    color: #e8e3e3;
    font-weight: bold;
    /* text-transform: uppercase; */
    
}

/* header.li a {
    color: #3b3a3a;
} */

h1 {
    background-color: #4e4b4b;
    color: white;
    font-size: 70px;
    font-family: "Brush Script MT", cursive;
    left: 10%;
    width: 100%;
    padding: 25px 0px;
    padding-left: 6%;

}

h2 {
    font-size: 30px;
    color: #3b3a3a;
    font-weight: bold;
}

a, p {
    font-size: 21px;
    color: #3b3a3a;
    font-weight: bold;
}


footer {
    background-color: #3b3a3a;
    color: white;
    font-size: 15px;
    padding: 5px 0px;
    padding-left: 3%;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

#profile_img {
    display: block;
    border-radius: 50%;
    margin-left: 0px;
}

#profile_button {
    margin-left: 90px;
}


label{
    font-size: 21px;
    color: #3b3a3a;
    font-weight: bold;
}

button {
    text-align: center;

    background-color: #3b3a3a;
    border: none;
    color: white;
    padding: 8px 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: cursive;
    
    border-radius: 8px;
}

button a {
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-family: cursive;
}

#reminder {
    font-size: 13px;
    color: #5f5757;
    font-family: cursive;
}

.home_intro {
    font-size: 21px;
    color: #3b3a3a;
    text-align: center;
    font-weight: bold;
}

#home_random_cat_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    height: 450px; 
    width: 900px;
}

#home_random_cat_buttom {
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;

    background-color: #3b3a3a;
    border: none;
    color: white;
    padding: 8px 0px;
    width: 900px;
    font-size: 40px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: cursive;
}

/* The (background) */
.notif {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* notif Content */
.notif-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

body {
    margin: auto;
}

.image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1024px){
    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }
}

