<h2> Log in </h2>

{{#if true}}
<form action="/login" method="POST" class="searchuser-form">

    <label for="name">
        User Name
        <input id="name" type="text" name="user_name" placeholder="please input user name" class="full-width-input">
    </label>

    <br>

    <label for="passwd">
        Password
        <input id="passwd" type="password" name="user_password" placeholder="please input password" class="full-width-input">
    </label>

    <br>
    {{#if error_msg}}
        <p> {{error_msg}} </p>
    {{/if}}

    <br>
    <br>

    <button type="submit" class="btn"> login </button>

    <p> Don't have an account? Signup first. </p>
    <button type="button" class="btn"> <a href="../signup"> signup </a></button>

    <br>

    <button type="button" class="btn"> <a href="../"> back to home page </a></button>

</form>
{{/if}}

{{#if false}}
<form id="log-in-form">
    <label> User Name <input id="user_name" type="text" placeholder="please input user name" class="full-width-input" /></label>
    <br>
    <label> Password <input id="user_password" type="password" placeholder="please input password" class="full-width-input"/></label>
    <br>
    <button type="submit" class="btn"> log in </button>
</form>

<div id="new-content">
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/public/js/login.js"></script>
{{/if}}
