{{!-- 

This view will be shown when the 'GET /logout' endpoint is called and will:
-Inform the user that they have been logged out
-Provide a URL hyperlink to the / route

 --}}

<h2> Log out </h2>

<p> Successfully log out. </p>

<a href="../login"> Login Again </a>
<br>
<br>
<a href="../"> Homepage </a>