

<h2 id = "signup_h2"> Sign Up </h2>

<form action="/signup" method="POST" class="signup-form">

    <label for="username">
        Username
        <input id="username" type="text" name="user_name" placeholder="please input your username" class="full-width-input">
    </label>

    <br>

    <label for="first_name">
        First Name
        <input id="first_name" type="text" name="user_first_name" placeholder="please input your first name" class="full-width-input">
    </label>

    <br>

    <label for="last_name">
        Last Name
        <input id="last_name" type="text" name="user_last_name" placeholder="please input your last name" class="full-width-input">
    </label>

    <br>

    <label for="email">
        Email
        <input id="email" type="text" name="user_email" placeholder="please input your email" class="full-width-input">
    </label>

    <br>

    <label for="gender">
        Gender
        {{!-- const options = ["Man", "Woman", "Lesbian", "Gay", "Transgender", "Questioning", "Confidential"]; --}}
        <select name="user_gender" id="gender">
            <option disabled selected>Please Select</option>
            <option value="Man">Man</option>
            <option value="Woman">Woman</option>
            <option value="Lesbian">Lesbian</option>
            <option value="Gay">Gay</option>
            <option value="Transgender">Transgender</option>
            <option value="Questioning">Questioning</option>
            <option value="Confidential">Confidential</option>
        </select>
        {{!-- <input id="gender" type="text" name="user_gender" placeholder="please input your gender" class="full-width-input"> --}}
    </label>

    <br>

    <label for="location">
        Location
        <input id="location" type="text" name="user_location" placeholder="please input your location" class="full-width-input">
    </label>

    <br>

    <label for="organization">
        Organization
        <input id="organization" type="text" name="user_organization" placeholder="please input your organization" class="full-width-input">
    </label>

    <br>

    <label for="passwd">
        Password
        <input id="passwd" type="password" name="user_password" placeholder="please input password" class="full-width-input">
    </label>

    <br>
    <br>

    <button type="submit" class="btn"> signup </button>

    <p> Already have an account? Try login. </p>
    <button type="button" class="btn"> <a href="../login"> login </a></button>

    <br>

    <button type="button" class="btn"> <a href="../"> back to home page </a></button>

</form>