<h2> Comments </h2> 

<form action="/comment/{{modelId}}" method="POST" class="edit-comment-form">

    <label for="userName">
        UserName
        <input id="userName" type="text" name="username">
    </label>
    
    <br>

    <label for="comment">
        comments
        <input id="comment" type="text" name="comment">
    </label>

    <br>

    <button type="submit" class="btn"> submit </button>
    
    <br>

    <button type="button" class="btn"> <a href="../"> back to home page </a></button>
</form>