{{!--

If the user is NOT logged in, and 'GET /user' endpoint is called, you will render this view that displays:
-Error page saying that the user is not logged in

--}}

<h2> Forbidden Access </h2>

<p> The user is not logged in. </p>

<img src="https://http.cat/403" width="500" alt="403 cat">

<br>

<a href="../"> homepage </a>