<!DOCTYPE html>
<!--

This page is the default layout for all handlebars file rendered.

-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> M_Hub </title>
        {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous"> --}}
        
        <link rel="stylesheet" href="../../public/css/main.css">
    </head>
    <body>
        <!-- header -->

        <header id="header" class="header">
            <ul class="header_list">
                {{#if username}}
                    <li><a href="/user"> {{username}} </a></li>
                    <li><a href="/search"> Search </a></li>
                {{else}}
                    <li><a href="/login"> Log in </a></li>
                    <li><a href="/signup"> Sign up </a></li>
                {{/if}}      
            </ul>
        </header>

        <!-- page content -->
        <h1> M_Hub </h1>
        <main>

            {{{body}}}

            <br>

            {{!-- <footer> This is a brief description of this web page. This app is for CS546 Final Project, M_Hub. </footer> --}}

        </main>

        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="../public/js/client_side.js"></script>

        {{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script> --}}

        <footer>@2022 M_Hub, All rights reserved.</footer>

    </body>

</html>